.accolades {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #003861;
  color: #FFFFFF;


  h4 {
    margin: 75px 0px;
    font-size: 30px;
  }
}

.accolades-info {
  display: flex;
  margin-bottom: 40px;

  .individual-accolade {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-weight: 100;
    width: 225px;
    text-align: center;
  }

  img {
    height: 50px;
  }
}

.bold-accolade {
  font-weight: 600;
}

#outside-badge {
  height: 70px;
}

.tagline-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 3.5em;
}

#tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

#accolades-splash {
  margin-top: 60px;
  width: 100%;
}

