.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDF8F0;
  color: #6D6E71
}

.companies-info {
  display: flex;
  margin-bottom: 40px;
}

.company-logo {
  width: 100%;
  height: auto;
  // height: 30vh;
}

// .company-logo {
//   width: 100%;
//   height: auto;
//   // height: 30vh;
// }

.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
  font-weight: 100;
  width: 25vw;
  text-align: center;
}