.footer-links {
  background-color: #E59D6C;
  color: #FDF8F0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;

  h5 {
    margin: 16.5px;
    font-weight: 600;
    font-size: 1em;
  }

  h5:hover {
    color: #003861;
    cursor: pointer;
  }
}

a {
  color: #FDF8F0;
  margin: 16.5px;
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #003861;
}