@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  // font-family: 'PT Serif', serif;
  font-family: 'Poppins', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  margin: 0px;
  width: 100vw;
}

h4 {
  font-size: 30px;
}

.section-header {
  font-size: 50px;
  color: #6D6E71;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media only screen
and (max-width : 560px) {

  #smooth-scroll-button {
    display: none;
  }

  .splash {
    height: 50vh !important;
    // background-position-x: -4rem !important;
  }

  .section-header {
    font-size: 40px;
  }

  .accolades-info {
    flex-direction: column;
  }

  .individual-accolade {
    width: 300px !important;
  }

  .company-logo {
    height: 125px !important;
  }

  #tagline {
    font-size: 1.8rem !important;
  }

  .our-brands-details {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .one-brand {
    margin: 10px !important;
  }

  .brand-logo {
    height: 40px !important;
  }
  
  #needs-bigger-logo {
    height: 60px !important;
  }

  .our-team-section {
    // width: 100vw !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .team-member-image {
    width: 100px !important;
  }

  .missing-member-div {
    width: 100px !important;
    height: 100px !important;
  }

  .missing-member-image {
    height: 50px !important;
  }

  .contact-options {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .contact-form {
    display: none !important;
  }



}