@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  // font-family: 'PT Serif', serif;
  font-family: 'Poppins', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  margin: 0px;
  width: 100vw;
}

h4 {
  font-size: 30px;
}

.section-header {
  font-size: 50px;
  color: #6D6E71;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media only screen
and (max-width : 560px) {

  #smooth-scroll-button {
    display: none;
  }



  header {
    background-color: slateblue;
  }
}