.our-brands {
  text-align: center;
  color: #6D6E71;

  h4 {
    font-size: 30px;
    color: #6D6E71;
  }
}

.our-brands-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.one-brand {
  margin: 20px;
}

.brand-logo {
  height: 100px;
}

#needs-bigger-logo {
  height: 130px;
}

