.our-team {
  background-color: #77A6AD;
  text-align: center;
  padding-top: 10px;

  h5 {
    font-size: 2em;
  }

  p {
    margin: 3px;
  }
}

.our-team-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

// turn our-team-section into a grid, then edit replacement tagline image

.team-member {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 40px 50px;
}

.member-name {
  margin-top: 5px;;
  font-weight: 700;
}

.team-member-image {
  width: 175px;
  border-radius: 50%;
  margin-bottom: 15px;
}